@font-face {
    font-family: 'Rockinsoda';
    src: url('Rockinsoda.woff');
}

* {
    padding: 1rem;
    margin: 0;
    font-family: 'Rockinsoda';
    letter-spacing: 1px;
}

body {
    transition: .15s;
    padding: 1rem;
    color: rgb(63, 63, 63);
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#inputField {
    transition: .15ms;
    background-color: transparent;
    padding: 1rem 0.5rem;
    border-radius: 7px;
    border: 2px solid rgb(194, 194, 194);
    transition: .10s;
    width: 40%;
    font-size: 1rem;
}

.darkInput {
    color: whitesmoke;
}

#inputField:focus {
    transition: .15ms;
    border-color: #2f80ed;
    outline: none;
}

#addTodo {
    padding: 1.1rem 1.5rem;
    margin: 5px 1.5rem;
    background-color: #2f80ed;
    color: white;
    border-radius: 10px;
    border: 0px;
    width: 10%;
    font-size: 1rem;
    transition: .10s;
}

#addTodo:focus {
    outline: none;
}

#addTodo:hover {
    box-shadow: 0px 0px 38px -10px #000;
}

.noteContainer {
    padding: 2rem 0;
    text-align: center;
}

.dark-mode {
    font-size: 2rem;
    background-color: rgba(47, 128, 237, 1);
    outline: none;
    border: 0;
    border-radius: 30px;
    color: white;
    transform: scale(-0.5);
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.rotateicon {
    transition: .15s;
    transform: rotate(-185deg);
}

.dark-mode:focus {
    outline: none;
}

.para {
    cursor: pointer;
    padding: 0.5rem;
}

.completed {
    text-decoration: line-through;
    color: rgb(187, 187, 187);
}

.dark-background {
    background-color: rgb(46, 45, 49);
    transition: .15s;
    color: white;
}

@media (max-width: 991px) {
    .row {
        flex-direction: column;
    }
    #inputField,
    #addTodo {
        width: 70%;
    }
}
